name: Deploy Winder

on:
  push:
    branches:
      - main
      - canary
      - controller
  schedule:
    - cron: '30 9 * * *'

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # DEPLOY PARA WINDER STABLE (Só roda se houver PUSH na branch main)
      - name: Deploy Main
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          cd /home/frufru/services/winder
          git fetch origin main
          git reset --hard origin/main
          npm install
          pm2 restart winder-bot

      # DEPLOY PARA O WINDER CANARY (Roda se houver PUSH ou pelo AGENDAMENTO das 06:30)
      - name: Deploy Canary
        if: github.ref == 'refs/heads/canary' || github.event_name == 'schedule'
        run: |
          cd /home/frufru/services/winder-canary
          git fetch origin canary
          git reset --hard origin/canary
          npm install aoijs@github:aoijs/aoi.js aoi.music@github:aoijs/aoi.music
          npm install
          pm2 restart winder-canary

      # DEPLOY PARA O WINDER CONTROLLER (Só roda se houver PUSH na branch controller)
      - name: Deploy Controller
        if: github.ref == 'refs/heads/controller' && github.event_name == 'push'
        run: |
          cd /home/frufru/services/winder-controller
          git fetch origin controller
          git reset --hard origin/controller
          npm install
          pm2 restart winder-controller