name: Deploy Winder

on:
  push:
    branches:
      - main
      - canary
      - controller
  schedule:
    # Rodar todos os dias às 03:00 (Horário de Brasília aproximadamente)
    - cron: '30 6 * * *' 

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # DEPLOY PARA WINDER STABLE
      - name: Deploy Main
        if: github.ref == 'refs/heads/main'
        run: |
          cd /home/frufru/services/winder
          git pull origin main
          npm install
          pm2 restart winder-bot

      # DEPLOY PARA O WINDER CANARY
      - name: Deploy Canary
        if: github.ref == 'refs/heads/canary' || github.event_name == 'schedule'
      run: |
        cd /home/frufru/services/winder-canary
        git fetch origin canary
        git reset --hard origin/canary
        npm install aoijs@github:aoijs/aoi.js aoi.music@github:aoijs/aoi.music
        npm install
        pm2 restart winder-canary

      # DEPLOY PARA O WINDER CONTROLLER
      - name: Deploy Controller
        if: github.ref == 'refs/heads/controller'
        run: |
          cd /home/frufru/services/winder-controller
          git pull origin controller
          npm install
          pm2 restart winder-controller
